In [1]:
# Importing libraries
import numpy as np
import pandas as pd

#### Get the dataset from https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

In [2]:
dataset = pd.read_csv('train.csv')
#test_dataset = pd.read_csv('test.csv')
#print(len(train_dataset),len(test_dataset))

In [3]:
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df = dataset.copy()

In [5]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
def add_onehot(data,col):
    if col not in data.columns: 
        print('Please check column name');
        return data
    dummy_df = pd.get_dummies(data[col],prefix=col)
    dummy_df.columns = [elem.rstrip().split(' ')[0] for elem in dummy_df.columns]
    data = pd.concat([data.drop(col, axis=1),dummy_df],axis=1)
    return data

In [7]:
df = dataset.copy()

In [8]:
pd.api.types.is_numeric_dtype(df['GarageYrBlt'])

True

In [9]:
pd.api.types.is_string_dtype(dataset['GarageYrBlt'])

False

In [10]:
numeric_cols = []
numeric_nan_cols=[]
for col in df.columns:
    if pd.api.types.is_numeric_dtype(df[col]):
        numeric_cols.append(col)
        if sum(np.multiply(df[col].isnull(),1)):
            numeric_nan_cols.append(col)
    if pd.api.types.is_string_dtype(dataset[col]):
        df[col].fillna('None',inplace=True)

In [11]:
numeric_nan_cols

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [12]:
df['LotFrontage'].fillna(0,inplace=True)
df['LotFrontage'].astype('int')
df['MasVnrArea'].fillna(0,inplace=True)
df['MasVnrArea'].astype('int')
df['GarageYrBlt'].fillna(1800.0,inplace=True)
df['GarageYrBlt'].astype('int')

0       2003
1       1976
2       2001
3       1998
4       2000
        ...
1455    1999
1456    1978
1457    1941
1458    1950
1459    1965
Name: GarageYrBlt, Length: 1460, dtype: int64

In [13]:
[df[col].dtype for col in numeric_cols]

[dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [14]:
for col in df.columns:
    if col not in numeric_cols:
        df = add_onehot(df,col)

In [15]:
print("Number of features before preprocessing : ",len(dataset.columns),"\nNumber of features after preprocessing : ",len(df.columns))

Number of features before preprocessing :  81
Number of features after preprocessing :  305

In [24]:
# Checking if all data types in final preprocessed dataset is numeric or not

for i,col in enumerate(df.dtypes):
    if not pd.api.types.is_numeric_dtype(col):
        print(col)

In [ ]:
y = df['SalePrice'].values
df = df.drop(columns=['SalePrice'],axis=1)

In [ ]:
X = df.iloc[]
y =